
    
        <h1>
            <%= title %>
        </h1>

        <section class="vehicle-grid">
            <% data.forEach(vehicle=> { %>

                <div class="vehicle-card">

                    <a href="/inv/detail/<%= vehicle.inv_id %>">
                        <img src="<%= vehicle.inv_thumbnail %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
                    </a>

                    <div class="vehicle-info">
                        <h2>
                            <a href="/inv/detail/<%= vehicle.inv_id %>">
                                <%= vehicle.inv_make %>
                                    <%= vehicle.inv_model %>
                            </a>
                        </h2>

                        <a class="price-btn" href="/inv/detail/<%= vehicle.inv_id %>">
                            $<%= Number(vehicle.inv_price).toLocaleString() %>
                        </a>
                    </div>

                </div>

                <% }) %>
        </section>
    